<header class="p-3 shadow-sm border-bottom bg-light">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <a
        href="/"
        class="d-flex align-items-center text-white text-decoration-none">
        <h2 class="text-primary mb-0">GoonSocial</h2>
      </a>

      <div class="text-end">
        <div class="flex-shrink-0 dropdown">
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              src="https://img.icons8.com/?size=512&id=13042&format=png"
              alt="mdo"
              width="40"
              height="40"
              class="rounded-circle shadow-sm bg-white border p-1" />
          </a>
          <ul class="dropdown-menu text-small shadow mt-1" style="">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
