<form class="p-4 p-md-5 border rounded-3 shadow bg-white text-center">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control shadow-sm"
      id="floatingInput"
      required
      placeholder="name@example.com" />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      required
      class="form-control shadow-sm"
      id="floatingPassword"
      placeholder="Password" />
    <label for="floatingPassword">Password</label>
  </div>

  <button class="w-100 btn btn-lg fw-bold btn-primary shadow-sm" type="submit">
    Log In
  </button>
  <hr class="my-4" />
  <button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#example"
    class="fw-bold btn btn-lg btn-success shadow-sm">
    Create new account
  </button>
</form>
