<form action="#" method="post" autocomplete="off">
  <div class="row mt-3">
    <div class="col-sm">
      <div class="form-floating mb-3">
        <textarea
          name=""
          class="form-control"
          id="test2"
          cols="30"
          rows="10"></textarea>
      </div>
    </div>
  </div>
  <div class="row text-end">
    <div class="col-sm">
      <div class="form-floating">
        <button class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</form>
