<div class="bg-light d-flex vh-100 justify-content-center">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-primary">GoonSocial</h1>
        <p class="col-lg-10 fs-3">
          Connect with like-minded <span class="text-primary">Goons</span> and
          scream into the void on GoonSocial.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <%- include('../forms/login') %>
      </div>
    </div>
  </div>
  <div
    class="modal fade mt-3"
    id="example"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row text-start">
            <div class="col-sm">
              <h2 class="card-title mb-1">Sign Up</h2>
              <h6 class="card-subtitle text-body-secondary">
                Connect with fellow
                <span class="text-primary">Goons</span> today!
              </h6>
            </div>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body"><%- include('../forms/register') %></div>
      </div>
    </div>
  </div>
</div>
